body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	/*padding-top: 4%;*/ /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	/*padding-bottom: 4%;*/
	color: #f8f8f8;
	background: url(../img/bg2.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	position: relative;
	min-height: 100%;
}
.no-still-background{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.intro-message {
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-white {
	background-color: #f8f8f8;
	padding: 50px 0;
	color:#2B3E50;
}

.content-section-dark {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;	
	background-size: cover;
	position: relative;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 10px 0;
}

p.copyright {
	margin: 0px 0 0;
}

.navbar-bottom {
	height: 60px;
	padding-top: 12px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);
	z-index: 100;
}
.transparent{
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);
}
.black{
	background-color:black;
}
.counting-numbers {
    padding: 20px;   
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);
}
.site-logo {
    height: 180px;
    margin-bottom: 100px;
}
.site-logo > img {
    height: 100%;
}
#countdown-time {
    margin-bottom: 28px;
}
.count-number-text-holder {
    display: inline-block;
}
.count-number-text-holder span.counting-numbers {
    display: block;
    margin-right: 24px;
    margin-left: 24px;
	font-size: 28px;
    font-weight: 300;
}
.count-number-text-holder span.text {
	font-size: 24px;
    font-weight: 300;
}
.intro-social-buttons{
	margin-top: 40px;
}
.background-ovelay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);   
    position: absolute;
    top: 0;
    left: 0;
}
.owl-item div.item{
	margin:4px;
	overflow:hidden;
	position: relative;
}	
.owl-item div.item img {
    width: 100%;
    height: auto;	
}
.google-map-container {
    width: 100%;	
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;    
	z-index: -1;
}
.google-map-container iframe {
    width: 100%;
	height: 100%;
}
.alert-msgs{
    margin: 0px;
    margin-top: 10px; 
	display:none;	
	padding: 0 20px;
    position: absolute;  
}
.item-ovelay {
    width: 100%;
	height: 100%;
    position: absolute;
	transition:All 0.8s ease;
	-webkit-transition:All 0.8s ease;
	-moz-transition:All 0.8s ease;
	-o-transition:All 0.8s ease;
	opacity:0;
	cursor:pointer;	
}
.item-ovelay:hover{
	opacity:1;
	background-color: rgba(0, 0, 0, 0.8);
	background: rgba(0, 0, 0, 0.8);   
}
.item-ovelay h3{
    text-align: center;
    margin-top: 80px;
	margin-bottom:8px;
	color:#DF691A;
}
.item-ovelay h6{
    text-align: center;
    margin-top: 6px;
	margin-bottom:8px;	
	color:white;
}
.profile-btns {
    width: 100%;
	height: auto;    
    text-align: center;
}
video#bgvid {
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(images/bg2.jpg) no-repeat;
	background-size: cover;
}